body {
  margin: 0;
  padding: 0;
}
.clearFix {
  content: "";
  display: table;
  clear: both;
}
.clients {
  background-color: #fafafb;
  padding: 50px 0;
}
.clients * {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.clients .wrapper {
  width: 90%;
  max-width: 1197px;
  margin: auto;
}
.clients .wrapper .title {
  padding: 50px;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}
.clients .wrapper .title span {
  font-weight: 100;
}
.clients .wrapper ul li {
  border-radius: 10px;
  background-color: #ffffff;
  width: calc(100% / 3 - 30px);
  margin: 15px;
  float: left;
  color: #454545;
  box-sizing: border-box;
  padding: 40px 30px;
  box-shadow: 0 0 40px 0 #d1d1d1;
}
.clients .wrapper ul li:hover {
  box-shadow: 0 0 30px 0px #d1d1d1;
}
.clients .wrapper ul li:hover > h1 span {
  opacity: 0.3;
}
.clients .wrapper ul li > h1 {
  width: 100%;
  font-size: 60px;
}
.clients .wrapper ul li > h1 span {
  float: right;
  font-size: 60px;
  opacity: 0.1;
  transition: all 0.8s;
}
.clients .wrapper ul li > h1 i {
  vertical-align: super;
  font-size: 30px;
  color: #f54748;
}
.clients .wrapper ul li > div h1 {
  margin-bottom: 20px;
}
.clients .wrapper ul li > div h1 a {
  font-size: 24px;
  color: #1e1e1e;
}
.clients .wrapper ul li > div p {
  font-size: 16px;
  color: #565656;
  line-height: 28px;
}
.clients .wrapper ul li > div > a {
  display: inline-block;
  color: #1e1e1e;
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
  border-bottom: 3px solid #f54748;
}
