.time {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
*::selection {
  color: #b2fbfb;
  background-color: #3a3a3a;
}

.time input,
select,
/* .before input:nth-of-type(1n + 2) { */
.before input {
  width: 40px;
  margin: 0 10px;
  user-select: none;
}
body{
  margin-left: 20px;
}
article{
  display: flex;
  flex-wrap: wrap;
}
header{
  margin-left: 10px;
  font-size: 16px;
  color: #333;
}
section{
  margin-top: 50px;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #57afdb;
}

h1 {
  font-size: 23px;
  color: #1695c0;
}
h4 {
  font-size: 17px;
  color: lightcoral;
}
h2 {
  color: #343434;
  font-size: 20px;
}

.result {
  width: 100%;
}
.result p {
  font-size: 17px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  line-height: 28px;
}
.result p code {
  width: 110px;
  text-align: right;
  color: #d32828;
  font-weight: 300;
  font-size: 15px;
}
.result p span {
  /* font-size: 20px; */
  margin-left: 10px;
  flex-shrink: 0;
  display: inline-block;
  text-decoration: double;
  font-weight: 300;
  letter-spacing: 0px;
  color: #333;
  font-size: 16px;
  line-height: 28px;
  /* font-family: 'Courier New', Courier, monospace; */
}
